<h1>Eat-Da-Burger!</h1>
  <form class="create-form">
    <div class="form-group">
      <label for="bgr"></label>
      <input type="text" class="form-control" id="burger-name" name="name" placeholder="Enter your Burger">
    </div>
    <br>
    <button type="submit" class="btn">Submit Order</button>
  </form>
<br>
<div id="devoured-burgers">
  <div>
    <div class="ready">
      <h2>Burgers Ready!</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <div class="card">
          <p id="newburger">{{id}}. {{burger_name}}
            <button type="button" class="btn devour-status" data-id="{{id}}" data-newDevour="true">Devour it!</button>
          </p>
          {{/unless}}
          {{/each}}
      </ul>
    </div>
    <div class="tested">
      <h2>Burgers Devoured!</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <div class="card">
          <p id="eatburger">{{id}}. {{burger_name}}</p>
        </div>
        {{/if}}
        {{/each}}
      </ul>
    </div>